@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Color Scheme */

:root {
    color-scheme: light;
    --background: var(--color-white);
    --clr-btn-secondary: var(--color-neutral-700);
    --clr-btn-secondary-hover: var(--color-neutral-600);
    --clr-container-primary: var(--color-neutral-300);
}

.dark {
    color-scheme: dark;
    --background: var(--color-neutral-900);
    --clr-btn-secondary: var(--color-slate-700);
    --clr-btn-secondary-hover: var(--color-slate-600);
    --clr-container-primary: var(--color-slate-700);
}

/* Theme */

@theme {
    --color-main: var(--background);
    --color-btn-primary: var(--color-blue-700);
    --color-btn-primary-hover: var(--color-blue-600);
    --color-btn-secondary: var(--clr-btn-secondary);
    --color-btn-secondary-hover: var(--clr-btn-secondary-hover);
    --color-container-primary: var(--clr-container-primary);
}

/* Mode Toggle */

.mode-toggle {
    @apply h-[1.2rem] w-[1.2rem];
}

/* Links */

.nav-link {
    @apply flex items-center gap-2 dark:text-white hover:text-gray-400;
}

/* Buttons */

.button {
    @apply p-2 rounded-md text-center font-semibold enabled:cursor-pointer text-white disabled:cursor-not-allowed;
}

.btn {
    @apply p-2 rounded-md text-center font-semibold enabled:cursor-pointer text-white disabled:cursor-not-allowed;
}

.btn-primary {
    @apply bg-btn-primary hover:bg-btn-primary-hover disabled:hover:bg-btn-primary;
}

.btn-secondary {
    @apply bg-btn-secondary hover:bg-btn-secondary-hover disabled:hover:bg-btn-secondary;
}

/* Home Page */

.home-section {
    @apply mt-5 flex flex-col items-center gap-4;
}

.feature {
    @apply flex flex-1 flex-col items-center gap-1 text-center;
}

.feature-icon {
    @apply w-fit rounded-md bg-container-primary p-2 text-center;
}

.testimonial {
    @apply flex flex-1 flex-col rounded-md bg-container-primary p-2;
}

.star-container {
    @apply flex items-center gap-1;
}

/* Custom Focus Outline */

*:focus-visible {
    outline: none;
}

*:focus-visible {
    @apply outline-2 dark:outline-white outline-yellow-700;
}
