@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Color Scheme */

:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

/* Mode Toggle */

.mode-toggle {
    @apply h-[1.2rem] w-[1.2rem];
}

/* Links */

.nav-link {
    @apply flex items-center gap-2 dark:text-white hover:text-gray-400;
}

/* Buttons */

.button {
    @apply p-2 rounded-md text-center font-semibold enabled:cursor-pointer text-white;
}

.blue-button {
    @apply bg-blue-700 hover:bg-blue-600;
}

button:focus {
    outline: none;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    @apply outline-2 dark:outline-white outline-black;
}